.styleguide {
    .section--icons {
        .section__content {
            display: flex;
            border-radius: 5px;
            padding: 30px;
            background-color: rgba(color(milk), .2);

            .row {
                margin: {
                    top: calc((var(--width-grid-gutter) / 2) * -1);
                    bottom: calc((var(--width-grid-gutter) / 2) * -1);
                }

                [class^='col-'] {
                    padding: {
                        top: calc(var(--width-grid-gutter) / 2);
                        bottom: calc(var(--width-grid-gutter) / 2);
                    }
                }
            }
        }

        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border-radius: 5px;
            background-color: color(milk);
            font-size: 24px;
            color: color(cola);

            i {
                font-size: 24px;
            }
        }
    }
}
