.section--images {
    .images__grid {
        display: flex;
        gap: spacer(3);

        .images__item {
            display: flex;
            flex: 1;
            align-items: center;

            img {
                width: 100%;
            }
        }

        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
    }
}
