.section--logo-carrousel {
    --mb-carrousel-intro: #{spacer(4)};
    --height-carrousel: #{spacer(7.5)};
    --width-carrousel-item: 120px;
    --animation-speed: 40s;

    .logo-carrousel__intro {
        margin-bottom: var(--mb-carrousel-intro);
        border-top: 1px solid rgba(color(milk), .2);
        padding-top: var(--margin-section);
        text-align: center;
    }

    .slider {
        overflow: hidden;
        width: 100%;
        height: var(--height-carrousel);
        margin: auto;
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
        position: relative;
        
        &::before,
        &::after {
            width: 120px;
            height: var(--height-carrousel);
            background: linear-gradient(90deg, rgba(color(cola), 1) 0%, rgba(color(cola), 0) 100%);
            content: '';
            position: absolute;
            z-index: 2;

            @include media-breakpoint-up(lg) {
                width: 200px;
            }
        }
    
        &::before {
            top: 0;
            left: 0;
        }
        
        &::after {
            top: 0;
            right: 0;
            transform: rotateZ(180deg);
        }
        
        .slide-track {
            display: flex;
            width: calc(var(--width-carrousel-item) * var(--data-count));
            animation: scroll var(--animation-speed) linear infinite;
        }
        
        .slide {
            opacity: .7;
            width: var(--width-carrousel-item);
            height: var(--height-carrousel);

            svg {
                width: 100%;
            }
        }

        @keyframes scroll {
            0% { transform: translateX(0); }
            100% { transform: translateX(calc((-1 * var(--width-carrousel-item)) * (var(--data-count) / 2))); }
        }
    }

    &.section--logo-carrousel--small {
        .logo-carrousel__intro {
            border-top: none;
            padding-top: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        --mb-carrousel-intro: #{spacer(7)};
        --height-carrousel: 100px;
        --width-carrousel-item: 220px;

        &.section--logo-carrousel--small {
            margin: {
                top: calc(-1 * (var(--margin-section) / 2));
                bottom: calc(var(--margin-section) / 2);
            }
        }
    }
}