.section--news-hero {
    background-color: color(milk);
    color: color(cola);
    margin: {
        top: calc(-1 * var(--height-navbar));
        bottom: 0;
    }
    padding: {
        top: calc(var(--margin-section) + var(--height-navbar));
        bottom: var(--margin-section);
    }

    .news-hero__title {
        margin-bottom: spacer(3);

        @include media-breakpoint-up(lg) {
            margin-bottom: spacer(5);
        }
    }

    &.has-highlight {
        padding-bottom: calc((var(--margin-section) / 2) + var(--margin-highlight));
    }
}