.section--service-slider {
    --pb-service-button: #{spacer(2)};
    border-radius: var(--border-radius-large);
    padding: {
        top: calc(var(--margin-section) / 2);
        bottom: var(--margin-section);
    }
    background-color: color(milk);
    color: color(cola);

    .service-slider__nav {
        overflow: auto;
        margin-bottom: calc(var(--margin-section) / 2);
        border-bottom: 1px solid rgba(color(cola), .1);
        position: relative;

        &::-webkit-scrollbar {
            display: none;
        }

        .line {
            width: 0;
            height: 3px;
            background-color: color(cola);
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .service-slider__nav-inner {
        display: flex;
        gap: spacer(4);

        button {
            padding-bottom: var(--pb-service-button);
            color: color(cow);
            white-space: nowrap;
            transition: color var(--speed-default) var(--cubic-bezier-2);
            font: {
                size: calc(var(--font-size-base) * 1.2);
                weight: 700;
            }

            &:first-child {
                margin-left: auto; // Justify content center didn't work with overflow
            }

            &:last-child {
                margin-right: auto; // Justify content center didn't work with overflow
            }

            &.tns-nav-active {
                color: color(cola);
            }

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    color: color(cola);
                }
            }
        }
    }

    .service-slider__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: center;

        @include media-breakpoint-up(lg) {
            text-align: left;
        }
    }

    .service-slider__link {
        margin-top: spacer(4);
        position: relative;
        font: {
            size: calc(var(--font-size-base) * 1.2);
            weight: 700;
        }

        i {
            margin-left: spacer();
            font-size: 16px;
        }

        @media (hover: hover) and (pointer: fine) {
            i {
                transition: margin-left var(--speed-default) var(--cubic-bezier-2);
            }

            &:hover {
                i {
                    margin-left: spacer(1.5);
                }
            }
        }
    }

    .service-slider__img {
        @include responsive-ratio(490, 487);
        display: block;
        position: relative;

        picture,
        img {
            @include fill-w-h();
            object-fit: contain;
        }

        @include media-breakpoint-down(lg) {
            margin-bottom: spacer(4);
        }
    }

    @include media-breakpoint-down(lg) {
        .service-slider__nav {
            margin: {
                right: -20px;
                left: -20px;
            }

            padding: {
                right: 20px;
                left: 20px;
            }
        }

        .service-slider__nav-inner {
            button {
                &:last-child {
                    padding-right: 20px;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        --pb-service-button: #{spacer(3)};

        .row--service-slide {
            display: flex;
            flex-direction: row-reverse;
        }
    }
}