.section--text {
    color: color(concrete);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: spacer(1.5);
        color: color(milk);

        @include media-breakpoint-up(lg) {
            margin-bottom: spacer(3);
        }
    }

    strong {
        color: color(milk);
    }
}